.policy {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: fit-content;
	gap: 1rem;
	.title {
		font-size: 1.5rem;
		font-weight: 600;
	}
	.wrap {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		width: 100%;
		height: fit-content;
		gap: 2rem;
		p {
			font-weight: bold;
			display: block;
		}
	}
}
